.jumbotron {
  border: 15px groove green;
  text-align: center;
  font-style: italic;
  background-color: #ffff99;
}

body {
  font-family: sans-serif;
  font-weight: 200;
}

img {
  float: right;
  border: 2px solid black;
  padding: 4px;
  background-color: white;
}

.paragraph1 {
  background-color: #ffa366;
  border: 2px solid black;
  padding: 4px;
  margin: 12px;
}

.paragraph2 {
  background-color: #9494b8;
  border: 2px solid black;
  padding: 4px;
  margin: 12px;
}

.important {
  color: #8f246b;
  font-weight: bold;
}
